@media only screen and (max-width:672px) {

    hr {
        margin: 20px 13%;
    }


    #menu-toggle {
        display: none;
    }

    .menu-items {
        position: absolute;
        left: 0;
        top: -28px;
        width: 100%;
        transform: translateY(-500px);
        transition: 0.5s ease-in-out;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        background-color: #8a7057;
        padding-left: 14px;
    }

    .menu-items ul li {
        display: block;
        margin: 15px 0;
        border-right: 0;      
    }

    .bar {
        display: block;
        color: #e2e2e2;
        font-size: 22px;
        cursor: pointer;   
        position: absolute; 
        z-index: 1;
        right: 20px;
        top: 30px;
    }

    #menu-toggle:checked ~ .menu-items {
        transform: translateY(35%); 
    }

    .hero-bg img  {
        height: 350px;    
    }

    /* Fullwidth CSS */

    .fullwidth h1 {
        font-size: 20px;
    }

    .service-card {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .service-card1 {
        width: 49%;
        margin-bottom: 2%;
    }

    /* Gellary CSS */

    .gellary {
        flex-direction: column;
    }

    .gellary-1 {
        width: 100%;
    }

    .card {
        width: 50%;
        justify-content: space-evenly;
    }

    .card-text p {
        padding-right: 6px;
    }
    .gellary-2 {
        width: 100%;
        margin-bottom: 2%;
    }

    .gellary-2 .headings {
        margin-bottom: 2%;
    }

    /* Footer CSS */

    .footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .headings {
        justify-content: space-around;
    }
    .about {
        width: 100%;
    }

    .about img {
        width: 100%;
    }

    .link {
        width: 100%;
        padding-left: 0;
    }    
    
    .blog {
        width: 100%;
    }

    .contact-us {
        width: 100%;
        margin-top: 2%;
    }

    .contact-us .submit {
        display: block;
        width: 27%;
        margin: 0 auto;
    }

    .form input {
        width: 85%;
    }
}
